{% extends "index.html" %}
{% block content %}
{{ super() }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Habits</li>
    </ol>
    <hr>
  </nav>
<h2>{% block title %} Habits{% endblock %}</h2>
<br>

{% for cat, msg in get_flashed_messages(true) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="container">
    <!-- Content here -->



    
<form action="/profile/habits" method="post" enctype="multipart/form-data"
<label><h3>Fill in the gaps to create a new Habit</h3></label>
<p><label>Habit name: </label><input type="text" name="form_name" value="" placeholder="Brush my teath" required
<p> Description: </label><input type="Description" name="form_description" value="" placeholder="Please write a few words why is this habit important?" required</p> 
<input type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" value="Save Habit"><p>
</div>
</form>
<table class="table table-bordered table-dark" table-layout="fixed" width="10%">
    <tr class="table__header"></tr>
        {% for header in "№", "Habit name", "Description", "Created", "Nickname", "Action"%}
        <th class="table-success">{{header}}</th>
        {% endfor %}
        {% for habit, register in data %}
    <tr class="table__row"></tr>
        {% for cell in loop.index, habit.name, habit.description, habit.created, register.nickname %}
        <td class="table-light" table-layout="auto" > {{ cell }} </td> 
        {% endfor %}
        <td class="table-light">
            <a href="/profile/habits/tasks/create/{{habit.name}}/{{habit.id}}" button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                Create Task 
              </button> </a></br>


              {% if current_user.email == 'admin@admin.com' or current_user.id == habit.user_id%}
              <a href="/profile/habits/edit/{{habit.name}}/{{habit.id}}" type="button" id={{habit.id}} method="delete" class="button">Edit</a> 
              /  
              <a href="/profile/habits/delete/{{habit.name}}/{{habit.id}}" type="button" id={{habit.id}} method="delete" class="button">Delete</a>
          
              {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock%}