{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} User Login {% endblock %}</h1> 
    <form method="post">
        <div >
        <p>
                 <h4>Enter Login and password:</h4>
                <label for="email" class='login'>Email:</label>
                <input type="email" name="email" required
                        placeholder="alex@gmail.com">

  
                <label for="password" class='login' >Password:</label>
                <input type="password" name="password"
                       minlength="8" required
                       placeholder="W_1klomx">

        </p>
 
            <input type="Submit" value="Sign in">  <label style= "color:#ec1c0d">{{message}}</label>
        </p>
        <hr>
        <a href='/register'<b><i>>New User</i></a>
        </div>
    </form>
{% endblock %}