{% extends "index.html" %}
{% block content %}
{{ super() }}
<h2>{% block title %} About me: {{current_user.nickname}} {% endblock %}</h2>
<br>
{% for cat, msg in get_flashed_messages(true) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/profile/about_me" method="post" enctype="multipart/form-data"
<p><label><b>Email:</b> {{current_user.email}}</label>
<p><label>Nickname: </label><input type="text" name="nickname" value="{{current_user.nickname}}" placeholder="Leon" required</p>
<p><label>Name: </label><input type="text" name="name" value="{{current_user.name}}" placeholder="Platon" </p>
<p><label>Surname: </label><input type="text" name="surname" value="{{current_user.surname}}" placeholder="Kachan" </p>
<p><label>Birthday: </label><input type="date" name="birthday" value="{current_user.birthday}" required></p>
<p><label>Telegram: </label><input type="tel" name="telegram" value="{{current_user.telegram}}" placeholder="+380731541616 or @Leon" </p>
<p><label>Style Colour: </label><input type="color" name="colour" value="{{current_user.colour}}" required</p></br>
<p><label>Avatar: </label><input type ="file" enctype="multipart/form-data" name="avatar" value="{{current_user.avatar}}" </p></br>

    <p><label>Choose your gender:</label></p>
    <input type="radio" id="none" name="gender" value="none"checked>
    <label for="none">none</label>
    <input type="radio" id="boy" name="gender" value="boy">
    <label for="boy">boy</label>
    <input type="radio" id="girl" name="gender" value="girl">
    <label for="girl">girl</label><br>

<p><label for="my_info">Description</label><br><textarea name="my_info"              placeholder="Please write a few words about you"
              rows="5"
              cols="30"
              ></textarea>
    </p>
<p><input type="submit" value="Save"><p>
</form>
{% endblock%}