{% extends "index.html" %}
{% block content %}
{{ super() }}
<h2>{% block title %} Forget password {% endblock %}</h2>
<br>
{% for cat, msg in get_flashed_messages(true) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/forget_password" method="post" class="form-contact"
<p><label>Email:</label><input type="email" name="form_email" value="" placeholder="example@gmail.com" required</p>
<p><input type="submit" value="Reset Password">
<hr align=left width="300px">
<p><a href="{{url_for('login')}}">Login in</a>
</form>
{% endblock%}