{% extends "index.html" %}
{% block content %}
{{ super() }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
  </nav>
  <hr>
<h2>{% block title %} Login in {% endblock %}</h2>
<br>
{% for cat, msg in get_flashed_messages(true) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/login" method="post" class="form-contact"
<p><label>Email:</label><input type="email" name="form_email" value="" placeholder="example@gmail.com" required</p>
<p><label>Password:</label><input type="password" name="form_password" value="" placeholder="A_we2as0" required</p>
<p><input type="checkbox" name="remember"> Remember me
<p><input type="submit" value="Login in">
<hr align=left width="300px">
<p><a href="{{url_for('register')}}">Register</a> <br><a href="{{url_for('forget_password')}}">Forget password?</a>
</form>


 
<!--     
    <h2>Login Form</h2>
    
    <form action="/action_page.php" method="post">
      <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
    
 -->



{% endblock%}
